/* the overlayed element */
.file-picker-overlay {
    
    /* initially overlay is hidden */
    display:none;
    
    /* growing background image */
    background-image:url(../img/white.png);
    
    /* 
        width after the growing animation finishes
        height is automatically calculated
    */
    width:640px;        
    
    /* some padding to layout nested elements nicely  */
    padding:35px;

    /* a little styling */  
    font-size:11px;
}

/* default close button positioned on upper right corner */
.file-picker-overlay .close {
    background-image:url(../img/close.png);
    position:absolute; right:5px; top:5px;
    cursor:pointer;
    height:35px;
    width:35px;
}

.scrollable {
    width: 632px;
    height: 450px;
    overflow:auto;
}
